#profile {
  height: 500px;
  margin-top: 100px;
  padding: 20px;
}
.photo-profile {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  width: 170px;
  height: 170px;
  border: 6px solid #ddd;
  margin-top: 40px;
}
#profile h3 {
  color: #fff;
  font-size: bold;
}
#profile a{
  margin-right: 15px;
}
#profile a > i {
  font-size: 25pt;
  text-decoration: none;
}
#profile p{
  padding-top: 10px;
  color: #fff;
  font-weight: bold;
}
#status{
  padding: 7px;
  margin-top: 25px;
  background-color: rgba(39,78,82,0.8);
  border-radius: 10px;
}
#status h5{
  position: absolute;
  background-color: #FFF;
  padding: 5px;
  border-radius: 10px;
  margin-top: -23px;
  margin-left: 10px;
}

.progress-bar {
	text-align: left;
	white-space: nowrap;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: pointer;
}

.progress-bar > .progress-type {
	padding-left: 10px;
}

.progress-meter {
	min-height: 15px;
	border-bottom: 2px solid rgb(160, 160, 160);
}

.progress-meter > .meter {
	position: relative;
	float: left;
	min-height: 15px;
	border-width: 0px;
	border-style: solid;
	border-color: rgb(160, 160, 160);
}

.progress-meter > .meter-left {
	border-left-width: 2px;
}

.progress-meter > .meter-right {
	float: right;
	border-right-width: 2px;
}

.progress-meter > .meter-right:last-child {
	border-left-width: 2px;
}

.progress-meter > .meter > .meter-text {
	position: absolute;
	display: inline-block;
	bottom: -20px;
	width: 100%;
	font-weight: 700;
	font-size: 0.85em;
	color: rgb(160, 160, 160);
	text-align: left;
}

.progress-meter > .meter.meter-right > .meter-text {
	text-align: right;
}

footer {
  width: 100%;
  height: 250px;
  background: #000;
  color: #FFF;
  padding: 15px;
}
footer .social{
  font-size: 40pt;
  margin: 5px 10px 2px 10px;
}