#profile {
  height: 500px;
  margin-top: 100px;
  padding: 20px;
}
.photo-profile {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  width: 170px;
  height: 170px;
  border: 6px solid #ddd;
  margin-top: 40px;
}
#profile h3 {
  color: #fff;
  font-size: bold;
}
#profile a{
  margin-right: 15px;
}
#profile a > i {
  font-size: 25pt;
  text-decoration: none;
}
#profile p{
  padding: 10px;
  color: #fff;
}
